a{
	color: #fff;
}
header{
	height: 50px;
	line-height: 40px;
	width: 100%;
	padding: 5px;
	position: fixed;
	top: 0;
	background: #ec6d6c;
	text-align: center;
	z-index: 10;
}
header img{
	position: absolute;
	left: 10px;
	height: 40px;
	width: 40px;
	border-radius: 20px;
}
header span.comic,span.music{
	border: 1px solid #fff;
	padding: 5px 15px;
}
#content{
	margin: 0;
	margin-top: 60px;
}
#content div.row{
	margin: 0;
}
#content div.row .col-xs-6{
	height: 260px;
	padding: 5px;
	overflow: hidden;
	/*border: 1px solid #999;*/
}
#content div.row .box{
	height: 220px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
#content div.row p{
	text-align: center;
}
#content img{
	width: 100%;
}
